
src/ui/__pycache__/

.idea/

src/__pycache__/

thrift_interface/gen-py/

thrift_interface/gen/__pycache__/

src/config/__pycache__/

thrift_interface/gen/SampleReg_Defs/__pycache__/

device_config/schemes/

thrift_interface/gen/hello/__pycache__/

thrift_interface/gen/SampleReg_Interface_LC/__pycache__/

thrift_interface/__pycache__/
